extends layout

block content
	.container-fluid
		.row
			img.img-responsive(src='images/tomorrow.jpg', alt='Life goes on however it becomes', style='margin-left: auto;margin-right: auto;')
			|                         
			div(style='text-align: center;font-size: 30px;') Life goes on however it becomes