doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(title='timeline-style', rel='stylesheet', href='/stylesheets/timeline.css')
    link(title='timeline-style', rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(title='timeline-style', rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.css')
    script(type='text/javascript', src='/javascripts/timeline.js')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap-datetimepicker.js')
    script(type='text/javascript', src='/javascripts/bootstrap-datetimepicker.zh-CN.js')
  body
    block content
