extends layout

block content
  style.
    #timeline-wedding{
    width: 100%;
    height: 900px;
    }
  #timeline-wedding
  script(type='text/javascript').
    var data = !{timelinedata};
    var  timeline = new TL.Timeline('timeline-wedding',data);
    window.onresize = function(event) {
    timeline.updateDisplay();
    }